exportPattern("alignCoord")
exportPattern("aptPlotCT")
exportPattern("backward")
exportPattern("bplfile")
exportPattern("circleCoord")
exportPattern("ct2coord")
exportPattern("ct2knet")
exportPattern("forward")
exportPattern("genCords")
exportPattern("loadCoords")
exportPattern("loadFolds")
exportPattern("loadCt")
exportPattern("loopLength")
exportPattern("makeCt")
exportPattern("pseudoKnot")
exportPattern("rotateS")
exportPattern("rotateV")
exportPattern("stemCords")
exportPattern("transformFold")
exportPattern("translate")
exportPattern("RNAPlot")
importFrom("graphics", "legend", "lines", "plot", "points", "text","title")
importFrom("utils", "read.table")
